<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<h3>自己紹介</h3>
<table class="table">
  <tr><th></th><th>好きなもの</th><th>嫌いなもの</th></tr>
  <tr><td>食べ物</td><td>パスタ</td><td>焼肉</td></tr>
  <tr><td>動物</td><td>猫</td><td>虫全般</td></tr>
  <tr><td>勉強</td><td>会計学・IT系（少し）</td><td>英語</td></tr>
  <tr><td>季節</td><td>秋</td><td>夏</td></tr>
</table>